// Navigation code here

header{
    .flex(column);
    align-items: center;
    .top{
        width: 100%;
        background: @wild-sand-opaque;
        .flex(column);
        align-items: center;
        position: fixed;
        
        @media @phone{
            background: @wild-sand;
            position: relative;
        }
        h1{
            font-size: 4rem;
            margin: 20px;
        }
        nav{
            width: 70%;
            .flex(row);
            justify-content: space-around;
            margin: 10px;
            @media @phone{
                width: 90%;
            }
            a{
                font-size: 2rem;
                text-decoration: none;
                color:  @ebony-clay;
                @media @phone{
                    font-size: 1.4rem;
                }
            }
        }
    }
    img{
        border-radius: 10px;
        margin-top: 130px;
        @media @phone{
            margin-top: 0;
        }
    }
}